# Default ignored files
/shelf/
/workspace.xml

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Sistema Operacional
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp