# Default ignored files
/shelf/
/workspace.xml

target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
*.log

git rm -r --cached .idea
git rm --cached *.iml
git rm --cached compiler.xml encodings.xml jarRepositories.xml misc.xml modules.xml vcs.xml
git rm -r --cached target