@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  --cor-principal: #06b4f0;
  --cor-principal-dois: #22789e;
  --cor-secundaria: #9be91b;
  --cor-secundaria-dois: #7fc41c;
  --cor-letras: #000;
  --cor-fundo: #f5f5f5;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
  position: relative;
}

.header {
  background-color: var(--cor-principal);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(27, 36, 163);
}

 
.div-pesquisa {
    width: 100%;
  max-width: 300px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
 
.div-pesquisa input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px 8px;
  font-size: 17px;
  border-radius: 8px;
}
 
.lupa-icon {
  color: #777;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.logo-img {
  height: 50px;
  object-fit: contain;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-list li a:hover {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-size: 18px;
}

.hamburguer {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburguer span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  display: block;
  border-radius: 3px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background-color: #1e1e1e;
    display: none;
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }

  .nav.active {
    display: flex;
  }

  .hamburguer {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    gap: 15px;
  }
}

.marca-dagua {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  z-index: 0;
  width: 70%;
  max-width: 600px;
  pointer-events: none;
}

.marca-dagua img {
  width: 100%;
  height: auto;
}

.footer {
  background-color: var(--cor-principal);
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}