/* Reset geral de margem, padding e configuração da caixa para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
 
    /* Definição de variáveis CSS para facilitar reaproveitamento de cores */
    --cor-principal: #06b4f0;
    --cor-principal-dois: #22789e;
    --cor-secundaria: #9be91b;
    --cor-secundaria-dois: #7fc41c;
    --cor-letras: #000;
    --cor-fundo: #f5f5f5;
}



body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--cor-fundo);
  padding: 40px;
}

h2 {
  text-align: center;
  color: var(--cor-letras);
  margin-bottom: 30px;
}

form {
  background-color: var(--cor-fundo);
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 60, 113, 0.2); /* sombra azul suave */
}

label {
  display: block;
  margin-bottom: 8px;
  color: var(--cor-principal);
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid var(--cor-secundaria);
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus, select:focus {
  border-color: var(--cor-principal);
  outline: none;
}

button {
  width: 100%;
  background-color:var(--cor-secundaria);
  color: var(--cor-principal);
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--cor-secundaria);
}
