* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    --cor-principal: #06b4f0;
    --cor-principal-dois: #22789e;
    --cor-secundaria: #9be91b;
    --cor-secundaria-dois: #7fc41c;
    --cor-letras: #000;
    --cor-fundo: #f5f5f5;
}
 
/* Personalização div principal (formulário) */
.container-login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
 
/* Personalização da imagem (lado esquerdo) */
.img-box {
    width: 50%;
    height: 100%;
    background-color: var(--cor-principal);
    padding: 20px;
}
 
.img-box img {
    width: 100%;
    height: 100%;
}
 
/* Div do login */
.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
 
/* Personalização formulário */
.content-box .form-box {
    width: 50%;
}
 
.content-box .form-box .ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.content-box .form-box .ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}
 
/* Título */
.content-box .form-box h2 {
    color: var(--cor-letras);
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
 
.content-box .form-box {
    margin-bottom: 20px;
}
 
/* Personalização input */
.content-box .form-box .input-box input, select {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    color: var(--cor-letras);
    background-color: var(--cor-fundo);
}
 
/* Personalização título do input */
.content-box .form-box .input-box span {
    font-size: 16px;
    margin: 8px 0 8px 0;
    display: inline-block;
    color: var(--cor-letras);
    font-weight: 400;
}
 
/* Cor dentro do input - letras */
.content-box .form-box .input-box input::placeholder {
    color: rgb(168, 164, 164);
}
 
/* Personalização botão */
.content-box .form-box .input-box input[type=submit] {
    background-color: var(--cor-secundaria);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 12px;
 
}
 
.content-box .form-box .input-box input[type=submit]:hover {
    background-color: var(--cor-secundaria-dois);
}
 
/* Personalização do "Lembrar-me" */
.content-box .form-box .remember {
    margin-top: 10px;
    color: var(--cor-letras);
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
 
/* Personalização do "Esqueceu a senha" */
.content-box .form-box .remember a {
    text-decoration: none;
    color: var(--cor-principal-dois);
}
 
.content-box .form-box .remember a:hover {
    text-decoration: none;
    color: var(--cor-principal);
}
 
/* Personalização do "Não tem uma conta?" */
.content-box .form-box .input-box p {
    margin-top: 8px;
    color: black;
}
 
/* Personalização do "Inscrever-se" */
.content-box .form-box .input-box p a {
    text-decoration: none;
    color: var(--cor-principal-dois);
}
 
.content-box .form-box .input-box p a:hover {
    color: var(--cor-principal);
}
 
#sem_login a {
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: var(--cor-principal-dois)
}
 
#sem_login a:hover {
    color: var(--cor-principal)
}
 
/* Personalização do Login com rede social */
.content-box .form-box h3 {
    color: var(--cor-letras);
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;mit
}
 
/* Imagens de login rede sociais */
.form-box .ul li img {
    width: 40px;
}
 
/* Personalização botão */
.content-box .form-box .input-box input[type=reset] {
    background-color: var(--cor-secundaria-dois);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 12px;
 
}
 
.content-box .form-box .input-box input[type=reset]:hover {
    background-color: var(--cor-secundaria-dois);
}
 
/* Deixa o select igual ao botão Salvar */
.content-box .form-box .input-box select {
    background-color: var(--cor-secundaria); /* mesma cor do botão salvar */
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover igual ao botão salvar */
.content-box .form-box .input-box select:hover {
    background-color: var(--cor-secundaria-dois);
}

/* Deixa o select igual ao botão Salvar */
.content-box .form-box .input-box select {
    background-color: var(--cor-secundaria); 
    color: #fff;
    border: none;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
    text-align: center;
}

/* Hover igual ao botão salvar */
.content-box .form-box .input-box select:hover {
    background-color: var(--cor-secundaria-dois);
}

 
@media (max-width: 868px) {
    .container-login .img-box {
        display: none;
    }
 
 
    .container-login .content-box {
        width: 100%;
    }
 
    .container-login .content-box .form-box {
        width: 100%;
        padding: 40px;
        background: white;
        margin: 50px;
    }
 
    .container-login .content-box .form-box h3 {
        width: 30px 0 10px;
    }
}
 
@media (max-width: 450px) {
    .container-login .content-box .form-box .remember {
        flex-wrap: wrap;
    }
 
    .container-login .content-box .form-box .remember a {
        margin-top: 20px;
    }    
}